.recipeCard {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: Polyasans, sans-serif;
  color: #393e46;
  background-color: white;
}

.recipeName {
  font-size: 24px;
  margin-bottom: 10px;
}

.recipeImage {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.recipeDetails {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipeInstructions {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
  color: #717171;
  background-color: white;
}

.recipeInstructions ol {
  font-size: 16px;
  line-height: 150%;
  margin-left: 0px;
  font-family: Polyasans, sans-serif;
}

.recipeInstructions li {
  margin: 10px 0px;
}
