.itemContainer {
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
  margin: 20px auto;
  overflow: hidden;
  font-family: Polysans, sans-serif;
  background-color: white;
}

.itemImage {
  max-width: 100%;
  height: auto;
}

.itemContent {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.itemName {
  font-size: 1em;
  font-weight: 600;
  color: #393e46;
}

.buttonContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.itemButton {
  background-color: #29bb89;
  border: none;
  color: white;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}
