.nav {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #393e46;
  padding: 20px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
  background-color: lightskyblue;
  /* border-radius: 5px;
  margin-bottom: 10px; */
}
