.searchContainer {
  margin: 20px auto;
  width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  /* border: none; */
  border-radius: 10px;
  border: 1px solid #e3e4dc;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.5);
  padding: 10px 20px;
  width: 100%;
  font-size: 16px;
  outline: none;
  color: #393e46;
  /* background-color: #1e1e1e; */
}
